@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="">
    <body>
        <h1>@Model.Name</h1>
        @RenderBody()
    </body>
</html>