<?xml version="1.0" encoding="utf-8"?>
<Media Key="4008c1f8-97d9-4129-8814-1920c9558e83" Alias="robots-localhost-44345.txt" Level="2">
  <Info>
    <Parent Key="72e34877-c09b-4662-8aea-3424549e9b59">Robots Txt</Parent>
    <Path>/RobotsTxt/robotsLocalhost44345txt</Path>
    <Trashed>false</Trashed>
    <ContentType>robotsTxtFile</ContentType>
    <CreateDate>2026-07-09T16:24:10</CreateDate>
    <NodeName Default="robots-localhost-44345.txt" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <robotsTxt>
      <Value><![CDATA[]]></Value>
    </robotsTxt>
    <umbracoFile>
      <Value><![CDATA[/media/bouphyh4/robots-localhost-44345.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>