<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b8dba20-ebd8-4b29-bdfc-35f95ade4466" Alias="robots-localhost-44346.txt" Level="2">
  <Info>
    <Parent Key="72e34877-c09b-4662-8aea-3424549e9b59">Robots Txt</Parent>
    <Path>/RobotsTxt/robotsLocalhost44346txt</Path>
    <Trashed>false</Trashed>
    <ContentType>robotsTxtFile</ContentType>
    <CreateDate>2026-07-09T16:24:10</CreateDate>
    <NodeName Default="robots-localhost-44346.txt" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <robotsTxt>
      <Value><![CDATA[User-agent: *
Disallow: /monkey/]]></Value>
    </robotsTxt>
    <umbracoFile>
      <Value><![CDATA[/media/0pjhn055/robots-localhost-44346.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>