<?xml version="1.0" encoding="utf-8"?>
<Media Key="0915d39e-67f2-443f-bf1c-bb07875bf814" Alias="robots-default.txt" Level="2">
  <Info>
    <Parent Key="72e34877-c09b-4662-8aea-3424549e9b59">Robots Txt</Parent>
    <Path>/RobotsTxt/robotsDefaulttxt</Path>
    <Trashed>false</Trashed>
    <ContentType>robotsTxtFile</ContentType>
    <CreateDate>2026-07-09T16:24:10</CreateDate>
    <NodeName Default="robots-default.txt" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <robotsTxt>
      <Value><![CDATA[]]></Value>
    </robotsTxt>
    <umbracoFile>
      <Value><![CDATA[/media/nw3p3kov/robots-default.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>