<?xml version="1.0" encoding="utf-8"?>
<Media Key="adb6759b-8df2-46b5-9e38-299b442a027b" Alias="sitemap--localhost--xmlsitemap-host-default.xml" Level="2">
  <Info>
    <Parent Key="442e8a71-b606-4407-8af2-a1fae69bc9cb">Xml Sitemaps</Parent>
    <Path>/XmlSitemaps/sitemapLocalhostXmlsitemapHostDefaultxml</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-07-10T22:49:01</CreateDate>
    <NodeName Default="sitemap--localhost--xmlsitemap-host-default.xml" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/naof0dov/sitemap-localhost-xmlsitemap-host-default.xml]]></Value>
    </umbracoFile>
  </Properties>
</Media>