<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b9be6f14-b202-4469-a15a-340aa19f94c3" Alias="settingsComposition" Level="1">
  <Info>
    <Name>Settings Composition</Name>
    <Icon>icon-settings</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>11858b36-5111-4fca-94cc-34f7dbcc9e39</Key>
      <Name>Prevent Indexing</Name>
      <Alias>noIndex</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[When checked, measurements are made to prevent this page from being indexed by search engines.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="pageSettings">Page Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ee4b9f7c-2c80-4b53-a99d-5d5e281bd1c2</Key>
      <Name>Internal Redirect</Name>
      <Alias>umbracoInternalRedirectId</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[When content is selected then Umbraco will load the selected page contents transparently without performing any URL redirection.
This essentially performs a rewrite.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="umbracoSettings">Umbraco Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9349659b-3a67-431c-839f-b99d534e6e3a</Key>
      <Name>Hide in Navigations</Name>
      <Alias>umbracoNaviHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[When checked, page instruct clients to hide page in navigational element and sitemaps.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="umbracoSettings">Umbraco Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>979d4b36-541a-446a-8f84-45c7dfe1d838</Key>
      <Name>Temporary Redirect</Name>
      <Alias>umbracoRedirect</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[When content is selected then a 302 temporary redirect is created. This in effect means that when a user navigates to this node, the user will be redirected away from it, to selected content location.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="umbracoSettings">Umbraco Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>642186aa-8bec-4255-9558-d32d29e79959</Key>
      <Name>Url Alias</Name>
      <Alias>umbracoUrlAlias</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Provide a comma-separated list of alternate full URL paths for the node. For example, if your URL was `/some-category/some-page/content-node`, by adding an `umbracoUrlAlias` of "flowers", a user can navigate to the node by going to `/flowers`. The URL alias remains in the browser address bar as a 'mask' over the real URL. You can also specify paths like `flowers/roses/red`.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="umbracoSettings">Umbraco Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>055a31a5-60c9-4f3d-8a88-768031f0d420</Key>
      <Name>Url Name</Name>
      <Alias>umbracoUrlName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Provide a different URL name to what is created by default by the name of the node.
If you enter a value for this property you will see that its main URL is updated with a new path suffix.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="umbracoSettings">Umbraco Settings</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>32506177-b853-44a4-b5cb-f7544f67a0a6</Key>
      <Caption>Page Settings</Caption>
      <Alias>pageSettings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>4442c313-6d41-4366-86e5-164ab547b523</Key>
      <Caption>Umbraco Settings</Caption>
      <Alias>umbracoSettings</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>